.button {
    outline: none;
    background: none;
    border: none;
}

.active{}

.primary {
    width: 28px;
}

.name {
    float: left;
    display: block;
    height: 26px;
    line-height: 26px;
}

.img {
    display: block;
    width: 18px;
    height: 18px;
}
