@import "../../../themes/pc.scss";

.preview {
    background-color: #fff;
    height: 1040px;
    width: 640px;
}

.previewContainer {
    overflow: visible;
    position: relative;
}

.previewWraper {
    width: 640px;
    height: 100vh;
    overflow: visible;
    position: relative;
}
