.left {
    width: 65px;
    top: 37px;
    border-right: 1px solid #151515;
    background-color: #353535;
    display: flex;
    flex-direction: column;

    &_row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    &_container {
        display: flex;
    }

    &_quick {
        width: 35px;
        background-color: #232323;
        border-right: 1px solid #151515;
        height: 100%;

        button {
            outline: none;
            border: none;
        }
    }
}
