@import "../../../themes/pc.scss";

.left {
    width: $leftWidth;
    position: absolute;
    top: $topHeight;
    left: 0px;
    bottom: 0px;
    background-color: #353535;
    border-right: 1px solid #151515;
}
