$pc: 1280;
$mobile: 750;
$vw: 1vw/12.8;

@function px2vw($px) {
    @return $px * $vw;
}

$designWidth: px2vw($mobile);
$topHeight: px2vw(37);
$leftWidth: px2vw(65);
$quickWidth: px2vw(260);
$rightWidth: px2vw(280);
