$pc: 1280;
$mobile: 750;
$vw: 1vw/12.8;

@function px2vw($px) {
    @return $px * $vw;
}

$designWidth: 58.59375vw;
$designHeight: 81.25vw;

$topHeight: 2.890625vw;
$leftWidth: 5.078125vw;
$quickWidth: 20.3125vw;
$rightWidth: 21.875vw;
$tabHeight: 2.34375vw;
$tabLineHeight: 1.71875vw;
$tabPadding: 0.3125vw;
$fsize: 0.9375vw;
$px: 0.078125vw;
