@import "../../../themes/pc.scss";

.quick {
    z-index: 1;
    .header {
        background-color: #353535;
        color: #b5b5b5;
        font-size: $fsize;
        font-weight: 400;
        margin: 0;
        padding: $tabPadding $fsize;
        height: $tabHeight;
        min-height: $tabHeight;
        line-height: $tabLineHeight;
    }
}
